{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
<main> 
    <h1>Question index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image1</th>
                <th>Image2</th>
                <th>Image3</th>
                <th>Response</th>
                <th>Validées</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td><img src="{{ asset('images/emoji/' ~ question.image1 ~ '.png')}}" alt="oups"></td>
                <td><img src="{{ asset('images/emoji/' ~ question.image2 ~ '.png')}}" alt="oups"></td>
                <td><img src="{{ asset('images/emoji/' ~ question.image3 ~ '.png')}}" alt="oups"></td>
                <td>{{ question.response }}</td>
                <td>{{ question.isValid ? 'yes' : 'no' }}</td>
                <td>
                    <a href="{{ path('app_question_show', {'id': question.id}) }}">show</a>
                    <a href="{{ path('app_question_edit', {'id': question.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_question_new') }}">Create new</a>
    </main>
{% endblock %}
