{% extends 'base.html.twig' %}

{% block title %}Hello PlayPageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Quizz</h1>
    {{ form_start(form,{
        'action': path('app_validation'),
        'method': 'POST'
    }) }}
    
        <table>
            <thead>
                <tr>
                <th>proposition 1</th>
                <th>proposition 2</th>
                <th>proposition 3</th>
                <th>votre réponse</th>
                </tr>
            </thead>
            
        {# {{ dump(questions) }} #}
            {% for question in questions %}
                <tr>
                    <td><img src="{{ asset('images/emoji/' ~ question.image1 ~ '.png')}}" alt="oups"></td>
                    <td><img src="{{ asset('images/emoji/' ~ question.image2 ~ '.png')}}" alt="oups"></td>
                    <td><img src="{{ asset('images/emoji/' ~ question.image3 ~ '.png')}}" alt="oups"></td>
                    <td>{{ form_widget(attribute(form, 'response' ~ loop.index)) }}</td>
                    
                </tr>
                {{ form_widget(attribute(form, 'id' ~ loop.index)) }}
            {% else %}
                <li>Aucune question</li>
            {% endfor %}
        </table>
        <button type='submit' id='btn-validate'>valider</button>
    {{ form_end(form) }}
</div>
{% endblock %}
