{% extends 'base.html.twig' %}

{% block title %}Hello ValidationController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {# {{ dump(scoreEntity) }} #}
    <table>
        <thead>
            <tr>
                <th>proposition 1</th>
                <th>proposition 2</th>
                <th>proposition 3</th>
                <th>Votre réponse</th>
                <th>Bonne réponse</th>
        
            </tr>
        </thead>
        <tbody>

            {% for question in questions %}
            {# {{ dump(question['question'][0]) }} #}
                <tr class ="{% if (question['isCorrect'] == true) %} correct {% endif %}">
                    <td><img src="{{ asset('images/emoji/' ~ question['question'].image1 ~ '.png')}}" alt="oups"></td>
                    <td><img src="{{ asset('images/emoji/' ~ question['question'].image2 ~ '.png')}}" alt="oups"></td>
                    <td><img src="{{ asset('images/emoji/' ~ question['question'].image3 ~ '.png')}}" alt="oups"></td>
                    <td>{{ responses['response' ~ loop.index] }}</td>
                    <td>{{ question['question'].response }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>votre score : {{score}}/5</div>
</div>
{% endblock %}
